<h1><%= @robot.name %><h1>
<%= image_tag @robot.image_url %>
<h2> Ability: <%= link_to @robot.ability.name, @robot.ability %> </h2>
<br/>
<%= link_to "Edit", edit_robot_path %> | <%= link_to "Delete", @robot ,method: :delete %>