<!DOCTYPE html>
<html>
  <head>
    <title>WeBotsRailsChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <%= link_to "Abilities", abilities_path %> |
    <%= link_to "Robots", robots_path %> |
    <%= link_to "New Robot", new_robot_path %>
    </nav>
    <%= yield %>
  </body>
</html>
